<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='s4lec.css') }}"
        />
    </head>

    <body>
        <div class="page">
            <h2>{{ name }} Lectures</h2>

            <div class="nav">
                <a href="{{ backlink }}">Sem-{{ sems }}</a>
            </div>

            <div class="table-wrap">
                <table>
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>File Name</th>
                            <th>Open</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for link in data %} {% set filename =
                        link.split('/')[-1].replace('%20',' ') %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ filename }}</td>
                            <td>
                                <a href="{{ link }}" target="_blank">View</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
