<!doctype html>
<html>
    <head>
        <title>Semester Four</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css') }}"
        />
        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='images/fav.ico') }}"
        />
    </head>
    <body>
        <br />
        <h2 class="s4head">Semester Four Subjects</h2>
        <br />
        <h5 class="s4head"><a href="/">Home Page</a></h5>
        <br />
        <hr />
        <br />
        <div class="maintable">
            <table>
                <tr>
                    <th>Subject</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td>Operating Systems - Lectures</td>
                    <td>
                        <a href="/semfour/os" target="_blank">Click Here</a>
                    </td>
                </tr>
                <tr>
                    <td>Computer Networks - Lectures</td>
                    <td>
                        <a href="/semfour/cn" target="_blank">Click Here</a>
                    </td>
                </tr>
                <tr>
                    <td>Design Analysis of Algorithms - Lectures</td>
                    <td>
                        <a href="/semfour/daa" target="_blank">Click Here</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
