<!doctype html>
<html>
    <head>
        <title>Semester {{ semname }}</title>

        <link
            rel="icon"
            type="image/x-icon"
            href="{{ url_for('static', filename='images/fav.ico') }}"
        />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='index.css') }}"
        />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <div class="page">
            <h2 class="s4head">Semester {{ semname }} Subjects</h2>
            <h3 class="s4head"><a href="/">Home Page</a></h3>

            <hr />

            <div class="sem-table">
                <table>
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Subject</th>
                            <th>Link</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for row in semsub %}
                        <tr>
                            <td>{{ row.code }}</td>
                            <td>{{ row.title }}</td>
                            <td>
                                <a href="{{ row.link }}" target="_blank"
                                    >Click Here</a
                                >
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
